[Desktop Entry]
Type=Application
Name=Mu
Comment=An advanced graphing calculator
GenericName=Mu Graphing Calculator
Exec=mu_calculato
Icon=application-default-icon
Terminal=false
Categories=GNOME;GTK;Utility;